extends layout

block content
  .outer
    .middle
      .inner
        h1 hi, i'm phil...
        small i'm updating my site to showcase new skills i've gained since 
          | starting a professional web development career this year...
          | for now, learn more about me through
          a(href="https://www.linkedin.com/in/philfevry")  LinkedIn 
          |  or  
          a(href="https://www.github.com/phlfvry") GitHub
          | .
  //.footer
    a(href="https://www.github.com/in/phlfvry").footer-link
      i.fa.fa-github.fa-lg
    a(href="https://www.linkedin.com/in/philfevry").footer-link
      i.fa.fa-linkedin.fa-lg