extends layout

block content
  .container-fluid
    .row.justify-content-sm-center
      .col-xs-12.col-sm-10.col-md-8
        .section__homepage-container
          .section__homepage-content
            img.introduction-picture(src="images/bitmoji/gliding.png", class="bitmoji-image" width="398", height="398", alt="Bitmoji Gliding")
            h1.introduction-header hi, i'm phil...
            small i'm currently in the process of redesigning my website. 
              | find me and learn more about me through
              a(href="https://www.linkedin.com/in/philfevry")  LinkedIn 
              |  and  
              a(href="https://www.github.com/phlfvry") GitHub
              |  in the meantime ✌️
  //.footer
    a(href="https://www.github.com/in/phlfvry").footer-link
      i.fa.fa-github.fa-lg
    a(href="https://www.linkedin.com/in/philfevry").footer-link
      i.fa.fa-linkedin.fa-lg