extends layout

block content
  .outer
    .middle
      .inner
        img(src="images/bitmoji/gliding.png", width="200", height="200")
        h1.introduction-header hi, i'm phil...
        small i'm updating my site to showcase the new skills I've gained since 
          | starting my professional career in web development this year...
          | for now, learn more about me through
          a(href="https://www.linkedin.com/in/philfevry")  LinkedIn 
          |  or  
          a(href="https://www.github.com/phlfvry") GitHub
          | .
  //.footer
    a(href="https://www.github.com/in/phlfvry").footer-link
      i.fa.fa-github.fa-lg
    a(href="https://www.linkedin.com/in/philfevry").footer-link
      i.fa.fa-linkedin.fa-lg