doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= 'phlfvry: Web Developer'
    meta(name="description" content="I'm a Web developer specializing in responsive web design and cutting-edge web applications. Visit for examples and to learn more.")
    include ../includes/google-analytics.html
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#particles-js
    block content
    script(src='/javascripts/vendor/particles.js/particles.js')
    script(src='/javascripts/phlfvry.js')
    script(src='https://use.fontawesome.com/756d974c40.js')
