doctype html
html(lang="en")
  head
    title= 'phlfvry: Web Developer'
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    include ../includes/google-analytics.html
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#particles-js
    block content
    script(src='/javascripts/vendor/particles.js/particles.js')
    script(src='/javascripts/phlfvry.js')
    script(src='https://use.fontawesome.com/756d974c40.js')
