h1.introduction-header
  margin: 0px 0px 10px 0px

.introduction-picture
  width: 200px
  height: 200px

.section__homepage-container
  text-align: center
  margin-left: -10px
  position: absolute
  width: 100%
  height: 100%
  padding: 10px
  transition: 2s ease


@media screen and (max-width: 321px) and (orientation: portrait)
  .section__homepage-content
    margin-top: 10px

@media screen and (min-width: 375px) and (orientation: portrait)
  .section__homepage-content
    margin-top: 25%

@media screen and (min-width: 767px) and (orientation: portrait)
  .section__homepage-content
    margin-top: 25%

@media screen and (min-width: 833px) and (orientation: portrait)
  .section__homepage-content
    margin-top: 35%


  
@media screen and (min-width: 833px) and (orientation: landscape)
  .section__homepage-content
    margin-top: 25%